
/* CSS du header */

header
{
    background: linear-gradient(37.46deg, #494949 24.6%, #397C7C 32%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    height: 50px;
    margin: 0px;
    padding-top: 10px;
}

ul /* c'est les menus */
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.logo
{
    height: 40px;
}


/* Les deux éléments de la barre de recherche */
.envoyer /* Le bouton "envoyer" */
{
    width: 100px;
    height: 40px;
}

.recherche /* La barre de recherche */
{
    width: 600px;
    height: 40px;
}


/* Les sections du menu de navigation */
nav /* le menu de navigations */
{
    background-color: white;
    margin: auto;
    width: 70%;
    height: 45px;
    display: flex;
}

.Nintendo /* l'onglet Nintendo */
{
    background-color: red;
    border: 1px black solid;
    width: 25%;
    height: 25px;
    border-radius: 0 0 24px 24px;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}

.Sony /* l'onglet Sony */
{
    background-color: blue;
    border: 1px black solid;
    width: 25%;
    height: 25px;
    border-radius: 0 0 24px 24px;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}

.Microsoft /* l'onglet Microsoft */
{
    background-color: green;
    border: 1px black solid;
    width: 25%;
    height: 25px;
    border-radius: 0 0 24px 24px;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}

.PC /* l'onglet PC */
{
    background-color: white;
    border: 1px black solid;
    width: 25%;
    height: 25px;
    border-radius: 0 0 24px 24px;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}