/* CSS de l'inscription */

.inscriBloc /* C'est le bloc qui contient tous les éléments */
{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #397C7C;
    height: 300px;
    width: 500px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.incriDescrip /* Le texte avant les info à renter */
{
    text-align: center;
    height: 20px;
    width: 400px;
    margin-top: 20px;
}

/* Partie Nom/Prenom */
#nom
{
    border: 1px solid black;
    background-color: white;
    height: 20px;
    width: 230px;
}

#prenom
{
    border: 1px solid black;
    background-color: white;
    height: 20px;
    width: 230px;
}

/* Le Mail */
#mail
{
    border: 1px solid black;
    background-color: white;
    height: 20px;
    width: 480px;
}

/* Partie Mot de passe + confirmation */
#mdp
{
    border: 1px solid black;
    background-color: white;
    height: 20px;
    width: 230px;
}

#cmdp
{
    border: 1px solid black;
    background-color: white;
    height: 20px;
    width: 230px;
}


/* Section date de Naissance */
.inscriDDN /* c'est juste pour le texte */
{
    height: 20px;
    width: 480px;
    margin-left: -3px;
}

#ddnJour
{
    border: 1px solid black;
    background-color: white;
    height: 20px;
    width: 146px;
}

#ddnMois
{
    border: 1px solid black;
    background-color: white;
    height: 20px;
    width: 146px;
}

#ddnAnnee
{
    border: 1px solid black;
    background-color: white;
    height: 20px;
    width: 146px;
}


/* La validation */
.iscriValid
{
    height: 20px;
    width: 400px;
    margin-top: 20px;
}

